/* analyzer_style.css */
body {
    background-color: #f0f0f0;
}

main .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    box-sizing: border-box;
}

.input-group {
  margin-bottom: 15px;
}

/* 項目名 */
.input-group label {
    display: block;
  font-weight: bold;
  color: #494949;
  background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
  padding: 0.4em 0.5em;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #90CAF9;
  border-radius: 8px;
  margin-top: 5px;
}
#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item {
    display: inline-block;
    width: 20%;
    margin: 1%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item span {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.result-item button {
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-item button:hover {
    background-color: #1976D2;
}

/* テーブルのスタイル */
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.result-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:hover {
  background-color: #f1f1f1;
}