/* analyzer_style.css */
:root {
    --unit-corlor: var(--vivid-bad-squad);
    --member-color-01: var(--azusawa-kohane);
    --member-color-02: var(--shiraishi-anne);
    --member-color-03: var(--shinonome-akito);
    --member-color-04: var(--aoyagi-toya);
}

.input-group {
    margin-bottom: 15px;
    flex: 1;
    min-width: 200px;
}

/* 項目名 */
#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item span {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.result-item button {
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-item button:hover {
    background-color: #1976D2;
}

/* テーブルのスタイル */
.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.result-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.result-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.result-table tr.played {
  background-color: var(--member-color-04); /* プレイ済みの行を緑色に */
  text-decoration: line-through; /* テキストに取り消し線を追加 */
}

.result-summary {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--member-color-03);
}

.result-summary div {
    text-align: center;
}

.result-summary span {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* LBアイコンのスタイル */
.lb-icon {
  width: 28px; /* アイコンの幅を20pxに設定 */
  height: auto; /* アスペクト比を維持 */
  vertical-align: middle; /* テキストとアイコンを縦方向に中央揃え */
  margin-right: 5px; /* アイコンとテキストの間に余白を追加 */
}

.result-message {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d9534f; /* 赤色で強調 */
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* モバイル端末用のレイアウト */
@media screen and (max-width: 768px) {
    main .container {
        padding: 10px;
    }

    .input-group label {
        font-size: 0.9em;
        /* padding: 0.3em 0.4em; */
    }

    .input-group input {
        padding: 6px;
        font-size: 0.9em;
    }

    #result {
        font-size: 1em;
        padding: 15px;
    }

    .result-item {
        width: 35%;
        margin: 2.5%;
        padding: 8px;
    }

    .result-item span {
        font-size: 0.9em;
    }

    .result-item button {
        padding: 4px 8px;
        font-size: 0.9em;
    }

    .result-table th, .result-table td {
        padding: 6px;
        font-size: 0.9em;
    }

    .result-summary {
        flex-direction: column;
        align-items: center;
    }

    .result-summary div {
        margin-bottom: 10px;
    }

    .result-summary span {
        font-size: 0.9em;
    }

    .input-row {
        flex-direction: column;
    }
}
