/* --- 全体的なフォント --- */
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  background-color: #f0f0f0; /* トップページに合わせて背景色を修正 */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

main .container { 
  margin: 20px auto; /* 上下左右の中央に配置 */
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;/*padding,borderを幅計算に含める */
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; /* トップページに合わせて影を変更 */
}

/* 見出し */
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;
  line-height: 1.4;
  padding: 0.25em 1em;
  top: 0;
  font-size: clamp(1em, 6vw, 3em);
}

/* ヘッダー内のh1には適用しない */
main h1:before,
main h1:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

main h1:before {
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}

main h1:after {
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}

/* 入力グループ */
.input-group {
  margin-bottom: 15px;
}

/* --- 入力項目の見出し --- */
.input-group label {
  background-color: rgba(248, 248, 248, 0.8);
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: center;
  align-items: center;

}

.input-group label[for="tlFlow"],
.input-group label[for="room"],
.input-group label[for="song"],
.input-group label[for="rounds"],
.input-group label[for="remainingSlots"],
.input-group label[for="roomIdSymbol"],
.input-group label[for="roomId"] {
  border-bottom: 4px solid #33AAEE;
}

.input-group label[for="showHostSkill"],
.input-group label[for="showHostInnerValue"],
#hostRemarksHeader {
  font-size: clamp(0.5rem, 3.3vw, 1rem);
  border-bottom: 4px solid #FFDD44;
}

.input-group label[for="showRequiredSkill"],
.input-group label[for="showRequiredInnerValue"],
#recruitRemarksHeader {
  font-size: clamp(0.5rem, 3.2vw, 1rem);
  border-bottom: 4px solid #FF6666;
}

.input-group label[for="otherComments"] {
  border-bottom: 4px solid #BBDD22;
}

.input-group label .switch {
  margin-left: auto;
  border-radius: 10px;
}

.input-group label .switch {
  background: none;
  border: none;
  padding: 0;
}

#hostRemarksHeader,
#recruitRemarksHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #494949;
  background: #f4f4f4;
  border-bottom: solid 3px #d7d7d7;
  padding: 0.4em 0.5em;
  justify-content: space-between;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 0;
}

#hostRemarksHeader{
  border-left: solid 5px #FFDD44;
}
#recruitRemarksHeader{
  border-left: solid 5px #FF6666;
}

#hostRemarksHeader .switch,
#recruitRemarksHeader .switch {
  background: none;
  border: none;
  padding: 0;
}

#hostRemarksContainer .input-group label,
#recruitRemarksContainer .input-group label {
  background: none;
  border: none;
  padding: 0;
  color: initial;
  font-weight: normal;
  font-weight: bold;
  box-shadow: none;
}

.input-group select,
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #90CAF9;
  border-radius: 8px;
  margin-top: 5px
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #2196F3;
}

.hidden {
  display: none;
}

/* ボタン */
.button-group {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.button-group button {
  padding: 10px 1vw;
  font-size: 1.2vw;
  color: white;
  background-color: #2196F3;
  border: 3px solid #90CAF9;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  flex: 1;
}

.button-group button.active {
  background-color: #33AAEE;
  border-color: white;
  color: white;
}

.button-group button:not(.active) {
  background-color: white;
  border-color: #90CAF9;
  color: black;
}

.button-group button:hover {
  background-color: #42A5F5;
  transform: translateY(-1px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.tweet-button {
  margin-top: 5px;
  display: block;
  padding: 10px 20px;
  background-color: #45d;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tweet-button:hover {
  background-color: #0d8bd9;
}

/* チェックボックスを非表示にする */
input[type="checkbox"] {
  display: none;
}

/* スライドスイッチのスタイル */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 10px;
}

/* スキル値と内部値のグループ */
.skill-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.skill-group .input-group {
  flex: 1;
}

/* 募集主備考コンテナ */
#hostRemarksContainer {
  margin-top: -10px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-height: 1000px;
}

#hostRemarksContainer:not(.open) {
  padding: 0 10px;
  max-height: 0;
}

/* 募集備考コンテナ */
#recruitRemarksContainer {
  margin-top: -10px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-height: 1000px;
}

#recruitRemarksContainer:not(.open) {
  padding: 0 10px;
  max-height: 0;
}

/* 履歴コンテナ */
#historyContainer {
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#historyContainer.open {
  max-height: 500px;
  background-color: #f9f9f9;
}

#historyList {
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
}

#historyList li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#historyList .roomId {
  margin-right: 10px;
}

#historyList .dateTime {
  font-size: 0.8em;
  color: #666;
  margin-right: auto;
}

.favorite-button,
.reuse-button,
.delete-button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.favorite-button.active {
  background-color: #ffd700;
}

/* 全履歴削除ボタン */
#clearAllHistoryButton {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #f0f0f0;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

/* プレビュー実装*/
.content {
  display: flex;
  gap: 20px;
}

form {
  flex: 3;
}

.preview {
  flex: 2; 
  border: 3px solid #ccc;
  padding: 9px;
  border-radius: 20px;
  white-space: pre-wrap; 
  display: flex;
  flex-direction: column; 
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); 
  transform: translateY(0); /* 初期位置を画面内に変更 */
  transition: transform 0.3s ease-in-out;
  z-index: 100; /* 他の要素よりも手前に表示 */
  /* display: none;  <- JavaScriptで制御 */
  animation: slideUp 0.3s ease-in-out; /* アニメーションを追加 */
}

#closePreview {
  display: none; /* closePreview ボタンを常に非表示に */
}

.preview.hidden {
  display: none; /* 非表示状態 */
}

.preview > h2 {
  display: none; /*  "プレビュー"の見出しを非表示にする */
}

#togglePreview {
  position: fixed;
  padding: 5px 8px;
  bottom: 20px;
  border-radius: 20px;
  right: 5px;
  z-index: 100;
}


.preview > h2 {
  flex-shrink: 0; 
}

#tweetPreview {
  background-color: #f4f4f4;
  padding: 7px;
  border-radius: 20px;
  font-family: monospace;
  overflow-y: auto; 
  position: sticky; 
  top: 10px;
}

/* アニメーションの定義 */
@keyframes slideUp {
    0% {
        transform: scale(0.8); /* 初期状態は少し小さく */
        opacity: 0;            /* 初期状態は透明 */
    }
    100% {
        transform: scale(1);   /* 最終的には元のサイズに */
        opacity: 1;            /* 最終的には不透明に */
    }
}

#togglePreview {
  position: fixed;
    padding: 5px 8px;
    bottom: 20px;
    border-radius: 20px;
    right: 5px;
    z-index: 100;
}

/* PC表示ではボタンを非表示 */
@media screen and (min-width: 768px) {
    #togglePreview {
      display: none;
    }
    .preview {
      position: static;
      width: auto;
      transform: none;
      box-shadow: none;
      display: flex;
        padding: 5px;
    }
    .preview > h2 {
      display: block; /* PCではタイトルを表示 */
    }
   .preview.hidden {
    display: block;
   }
   #togglePreview,
   #closePreview {
     display: none;
   }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .content {
    /*flex-direction: column;*/
    margin: 1.5vw 3vw;
  }

  .preview {
    width: 89vw;
  }

  .button-group {
    /*flex-direction: column;*/
    margin: 1.5vw 3vw;
  }

  .button-group button{
    font-size: 3.5vw;
  }
}
