:root {
    --unit-corlor: var(--wonderlands-showtime);
    --member-color-01: var(--tenma-tsukasa);
    --member-color-02: var(--otori-emu);
    --member-color-03: var(--kusunagi-nene);
    --member-color-04: var(--kamishiro-rui);
}
