header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  position:relative;
}

header .container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav { /* nav 要素を Flexbox で横並びにする */
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-img {
width: 40px;
height: 40px;
margin-right: 10px;
}

.hamburger-menu {
display: none;
flex-direction: column;
justify-content: space-around;
width: 30px;
height: 30px;
background: transparent;
border: none;
cursor: pointer;
padding: 0; /* ボタン自体の余白を削除 */
outline: none; /* フォーカス時のアウトラインを削除 */
}

.hamburger-menu span {
width: 100%;
height: 3px;
background: #333;
}

/* ドロップダウンメニュー */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
    display: inline-block; /* インライン要素にする */
    position: relative; /* ドロップダウンメニューを相対配置するために追加 */
    z-index: 1; /* 他の要素との重なりを避けるため */
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -400%;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    min-width: 180px;
    white-space: nowrap; /* 折り返しを防ぐ */
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.dropdown-menu li a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
}
.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
.dropdown:hover .dropdown-menu,
.dropdown.active .dropdown-menu{
  display: block;
}

/* メディアクエリを使用して768px以下で表示 */
@media (max-width: 768px) {
  header nav {
      display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    z-index:100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  header nav a{
    margin: 0;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #eee;
  }
  header nav .dropdown{
    display: block;
  }
   header nav .dropdown .dropdown-toggle {
    display: block;
     width: 100%;
      margin: 0;
    padding: 15px 0;
        border-bottom: 1px solid #eee;
  }

  header nav.active {
    display: flex;
  }
    header .container {
      padding: 0 10px;
    }
  .hamburger-menu{
    display: flex;
  }
  .dropdown-menu{
    position: static;
    display: none;
    border: none;
    width: 100%;
    box-shadow: none;
    padding: 0;
  }
  .dropdown.active .dropdown-menu{
        display: block;
    }

  .dropdown-menu li a{
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
  }
}